<%- include('../../components/head') %>

<body>
	<%- include('../../components/nav') %>
	<div class="container">
		<hr>
		<div class="card mt-5">
			<div class="card-header">
				<h2>Criaçao de Usuário</h2>
			</div>
			<div class="card-body">
				<form action="/admin/users/create" method="post">
					<input class="form-control" type="email" name="email" placeholder="email@example.com">
					<br>
					<input class="form-control" type="password" name="password" placeholder="***********">
					<br>
					<button type="submit" class="btn btn-success btn-block">Criar</button>
				</form>
			</div>
		</div>
	</div>
</body>

<%- include('../../components/footer') %>